h1 {
    font-size: 2.28rem; }

h2 {
    font-size: 1.79rem; }

h3 {
    font-size: 1.51rem; }

h4 {
    font-size: 1.26rem; }

h5 {
    font-size: 0.98rem; }

h6 {
    font-size: 0.63rem; }

section ul {list-style-type: disc;}

article section.page h1:first-of-type {
    text-transform: none;
}

header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100; }
    header:after {
      content: '';
      height: .35rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%; }
    header a {
      text-decoration: none; }
    header .logo {
      font-size: 100%; }
      header .logo * {
        vertical-align: middle; }
      header .logo img {
        height: 32px;
        margin-right: 0.5rem; }
    header nav.shortcuts {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      list-style-type: none; }
      header nav.shortcuts li .fa {
        font-size: 1.5rem;
        margin-right: 0.5rem; }
      header nav.shortcuts li a:active,
      header nav.shortcuts li a:focus,
      header nav.shortcuts li a:hover {
        background-color: #4d4d4d; }
      header nav.shortcuts li a {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        white-space: nowrap;
        height: 3.5rem;
        padding: 0 1rem; }
        header nav.shortcuts li a label {
          margin-bottom: 0rem; }
  