<div class="ms-3 flex-fill text-center">Copyright &copy; 2024 Theory Department of the <a href="https://www.mpsd.mpg.de/en">Max Planck Institute for the Structure and Dynamics of Matter</a> |
 <a href="https://www.mpsd.mpg.de/imprint">Imprint</a> |
 <a href="https://www.mpsd.mpg.de/289505/dataprotection">Privacy Policy</a> |
 <a href="mailto:theory-www@mpsd.mpg.de">Webmaster</a>
</div>
