{{ $sub:=index .Site.Data.releases "releases" }}
{{ $BaseURL:=.Site.BaseURL}} 
{{ $reverse:=sort $sub "major" "desc" }} 
{{ $latest:=index $reverse 0 }}
{{ $major:=index $latest "major" }}
{{ $minor:= index (sort (index $latest "minors") "number" "desc") 0 }}


{{if ge $major 14 }}
{{if le $major 14 }}
<a href="https://gitlab.com/octopus-code/octopus/-/archive/{{$major}}.{{$minor.number}}/octopus-{{$major}}.{{$minor.number}}.tar.gz">Octopus {{$major}}.{{$minor.number}} (for CMake)</a>
{{else}}
<a href="https://octopus-code.org/download/{{$major}}.{{$minor.number}}/octopus-{{$major}}.{{$minor.number}}.tar.xz">Octopus {{$major}}.{{$minor.number}} (for CMake)</a>
{{end}}
{{end}}
{{if ge $major 14 }} {{if le $major 15}}, {{end}}{{end}}
{{if le $major 15 }}
<a href="https://octopus-code.org/download/{{$major}}.{{$minor.number}}/octopus-{{$major}}.{{$minor.number}}.tar.gz">Octopus {{$major}}.{{$minor.number}} (for configure + make)</a> 
{{end}}
