{{ $release:=.Get 0}}{{ $sub:=index .Site.Data.releases "releases" }}

{{ range $sub }} 
{{ if eq .major $release }}

{{ $last_index:= sub (len .minors) 1 }}
{{$last:=index (index (sort .minors "number" "desc") 0) "number"}}
### Latest version in this release: 

{{if ge $release 14 }}
{{if le $release 14 }}
<a href="https://gitlab.com/octopus-code/octopus/-/archive/{{$release}}.{{$last}}/octopus-{{$release}}.{{$last}}.tar.gz">Octopus {{$release}}.{{$last}} (for CMake)</a>
{{else}}
<a href="https://octopus-code.org/download/{{$release}}.{{$last}}/octopus-{{$release}}.{{$last}}.tar.xz">Octopus {{$release}}.{{$last}} (for CMake)</a>
{{end}}
{{end}}

{{if le $release 15 }}
<a href="https://octopus-code.org/download/{{$release}}.{{$last}}/octopus-{{$release}}.{{$last}}.tar.gz">Octopus {{$release}}.{{$last}} (for `configure + make`)</a> 
{{end}}


Check the [changes](../changes#octopus-{{$release}}) page to find out what is new in this version.

### Other releases in this series


{{ if .minors }}
<ul>
{{ range (sort .minors "number" ) }}
<li>Octopus {{$release}}.{{.number}} {{if .date}} ({{.date}}){{end}}: {{if eq $release 14 }}<a href="https://gitlab.com/octopus-code/octopus/-/archive/{{$release}}.{{.number}}/octopus-{{$release}}.{{.number}}.tar.xz">[tarball for CMake]</a>{{end}}{{if eq $release 14 }}{{if le $release 15}}, {{end}}{{end}}{{if le $release 14 }}<a href="https://octopus-code.org/download/{{$release}}.{{.number}}/octopus-{{$release}}.{{.number}}.tar.gz">[tarball for configure + make]</a>{{end}}
{{if ge $release 15 }}<a href="https://octopus-code.org/download/{{$release}}.{{.number}}/octopus-{{$release}}.{{.number}}.tar.xz">[tarball for CMake]</a>{{end}}{{if ge $release 14 }} {{if le $release 15}}, {{end}}{{end}}{{if le $release 15 }}<a href="https://octopus-code.org/download/{{$release}}.{{.number}}/octopus-{{$release}}.{{.number}}.tar.gz">[tarball for configure + make]</a>{{end}}
</li>
{{ end }}
</ul>
{{ end }}

{{ if .libxc }}
{{ with .libxc }}
Requires {{partial "libxc" }} version {{.minimum}} or later (libxc {{.recommended}} recommended)</br>
{{end}}
{{end}}

{{end}}
{{end}}

