<a href="{{.Site.BaseURL}}/support" style="color:black"> Support: </a> &nbsp; &nbsp; &nbsp;
<img height="50" alt="MPSD logo"     style="vertical-align:middle" src="{{.Site.BaseURL}}/images/mpsd-logo_full_ger_rgb-png.png"> &nbsp; &nbsp; &nbsp; &nbsp;
<img height="50" alt="MPCDF logo"    style="vertical-align:middle" src="{{.Site.BaseURL}}/images/mpcdflogo.png"> &nbsp; &nbsp; &nbsp; &nbsp;
<img height="50" alt="Flatiron logo" style="vertical-align:middle" src="{{.Site.BaseURL}}/images/Flatiron-logo_square-2.png"> &nbsp; &nbsp; &nbsp; &nbsp;
<img height="50" alt="ERC logo"      style="vertical-align:middle" src="{{.Site.BaseURL}}/images/European_Research_Council_logo.png"> &nbsp; &nbsp; &nbsp;
</br>